.react-calendar {
  width: 650px;
  max-width: 100%;
  background: white;
  border: 1px solid #a0a096;
  border-radius: 8px;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: "Noto Sans KR", sans-serif;
  line-height: 1.125em;
}

.react-calendar--doubleView {
  width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}
.react-calendar__navigation button:first-child {
  margin-left: 30px;
}
.react-calendar__navigation button:last-child {
  margin-right: 30px;
}
.react-calendar__navigation button {
  font-size: 30px;
}
.react-calendar__navigation span {
  font-size: 20px;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  border: 0;
  font-family: "Noto Sans KR", sans-serif;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}

.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
  font-size: 18px;
  font-weight: 500;
}
.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none !important;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__days__day--weekend {
  color: #db4c37;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #d4d4d4;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 30px 30px;
  background: none;
  text-align: center;
  line-height: 16px;
  font-size: 16px;
}

.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  border-radius: 15px;
  background-color: #e6e6e6;
}

.react-calendar__tile--now {
  background: #c6dce4;
  border-radius: 15px;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #c6dce4;
}

.react-calendar__tile--hasActive {
  background: #c6dce4;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}

.react-calendar__tile--active {
  background: #f2d1d1;
  border-radius: 15px;
  color: white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  border-radius: 15px;
  background: #f2d1d1;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  border-radius: 15px;
  background-color: #e6e6e6;
}
